<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>craftgate_payment_orchestration</name>
    <displayName><![CDATA[Craftgate Payment Orchestration]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Simple, Flexible, Accessible &#039;One-Stop Shop&#039; Payment Orchestration]]></description>
    <author><![CDATA[Craftgate]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>